<div class="footer">
  <div class="footer-contact-data d-flex justify-content-around align-items-center">

    <div class="footer-infos">
      <div class="footer-access-map">
        <%= link_to contact_path(anchor: "map") do %>
          <div class="h-100 d-flex flex-column align-items-center">
            <i class="fa-solid fa-map-location-dot"></i>
            <p class="mb-0">Plan d'accès</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="vertical-bar"></div>

    <div class="footer-infos">
      <p><strong>Naomi Nilsson</strong></p>
      <p>Cabinet de Psychothérapie de la Palud</p>
      <p>Place de la Palud 7</p>
      <p>1003 Lausanne</p>
    </div>

    <%# <div class="vertical-bar"></div>

    <div class="footer-infos">
      <div class="phone-button">
        <%= link_to "tel:+41774882823" do %>
          <%# <div class="d-flex align-items-center">
            <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;
            <p> +41 (0)77 488 28 23</p>
          </div>
        <% end %>
      <%# </div>
    </div> %>

    <div class="vertical-bar"></div>

    <div class="footer-infos footer-logo d-flex justify-content-between">
      <%= link_to "https://www.psychologie.ch/fr" do %>
        <div class="d-flex align-items-center"><%= image_tag "logo-fsp.png" %></div>
      <% end %>
      <%= link_to "https://www.psy-vd.ch/" do %>
        <div class="d-flex align-items-center"><%= image_tag "logo-avp.png" %></div>
      <% end %>
    </div>

    <div class="vertical-bar"></div>

    <div class="footer-infos contact-button d-flex justify-content-center text-center align-items-center">
      <%= link_to "Contact", contact_path %>
    </div>
  </div>

  <div class="copyright-bar d-flex justify-content-center align-items-center"><%  %>
    <p>Copyright 2022 naomi-nilsson.ch | Tous droits réservés | Site web créé par Anaïs Augu</p>
  </div>
</div>
