<nav class="sticky">
  <div class="d-flex justify-content-between align-items-center">
    <div class="navbar-logo d-flex align-items-center">
      <%= link_to root_path do %>
        <div class="logo">
          <%= image_tag "logo-psy.png" %>
        </div>
      <% end %>
    </div>

    <div class="nav-items d-flex justify-content-between align-items-center">
      <div class="nav-item">
        <%= link_to "Bienvenue", root_path %>
      </div>
      <div class="nav-item">
        <%= link_to "Qui suis-je", about_path %>
      </div>
      <div class="nav-item">
        <%= link_to "Actualités", "#" %>
      </div>
      <div class="nav-contact contact-button">
        <%= link_to "Contact", contact_path, class: "bolder" %>
      </div>
    <div>
  </div>
</nav>
